<tr>
	<td>${campaign_id}</td>
	<td>${campaign_name}</td>
	<td>${phone_number}</td>
	<td>${phone_label}</td>
	<td>${severity_type}</td>
	<td align="right">${value}</td>
	<td align="center">${range}</td>
</tr>
