<html>
	<head>
		<title>
			" + subjectLine + "
		</title>
	</head>
	<body>
		<style>
			table {
				border-collapse: collapse;
			}
			.mainTable{
				width:  960px;
			}
			.leadsTable{
				width:  310px;
				font-family:verdana;
				font-size:11px;
				background-color:#fcfcfc;
				padding:4px;
				border: #485B6E solid 1px;
			}
			.leadsTable td{
				padding-top:8px;
				padding-left:12px;
				padding-right:12px;
				font-size: 14px;
				color: #485B6E;
			}
			.leadsTable th{
				padding:12px;
				background-color:#485b6e;
				color:white;
			}
			.webdataTable{
				width:  100%;
				font-family:verdana;
				font-size:8px;
				color: #485B6E;
				background-color:#fcfcfc;
				padding:4px;
				border: #485B6E solid 1px;
			}
			.webdataTable td{
				padding-top:12px;
				padding-left:12px;
				padding-right:12px;
				font-size: 10px;
			}
			.webdataTable th{
				padding:12px;
				background-color:#485b6e;
				color:white;
			}
			body {
				font-family: 'Verdana', 'Arial', sans-serif;
				color: #353535;
				font-weight: 400;
			}
			h1, h2, h3, h4, h5, h6 {
				color: #485B6E;
			}
			h1 {
				font-size: 24px;
				font-weight: 600;
				margin-top: 0;
				margin-bottom: 8px;
			}
			h3 {
				font-size: 14px;
				font-weight: 400;
				margin: 0;
			}
			a {
				color: #296FB5;
			}
			.border-bottom {
				border-bottom: 1px solid #e8ebee;
				color: #92a4b5;
			}

			p {
			font-family: verdana;
			font-size:13px;
			}

			h4 {
			font-family: verdana;
			}

			.date {
				padding-top:5px;
				font-family: verdana;
				font-size:10px;
				font-weight: 400;
			}
			.when {
				font-family: verdana;
				font-size:14px;
				font-weight: 600;
			}
			td.subdata {
				font-family: verdana;
				font-size:11px;
				padding-left:30px;
			}
			.tablebottom {
				padding-bottom:10px;
			}
			.program {
				color: #92a4b5;
				text-transform: uppercase;
			}

		</style>
		<table cellpadding='0' cellspacing='0' border='0' align='center' class='mainTable'>
<!--
			<tr>
				<td colspan='3'>
					<div style='text-align:center;color:red;font-weight:700;font-style:oblique;'>
						Welcome to branding_company . If you have not already done so, to get access to our enhanced reporting, please respond to this email with your email address<br />and preferred password and our team will get your access setup. Password must be at least 8 characters long and contain at least one number.
					</div>
				</td>
			</tr>
-->
			<tr>
				<td colspan='3' align='left'>
					<table class='mainTable'>
							<!-- Email Header -->
							 <tr>
								<td style='padding-right:24px;' width='2'>
									<div style='text-align:left;'>
										<img style="height:84px;" src='http://results.aimediagroup.com/img/b/default.png' alt='' border='0' align='center' />
									</div>
								</td>
								<td class="border-bottom">
									<h1>ACTIVITY AND LEAD REPORT</h1>
									<h3>Horizon BCBS - Medicare AITRENDS</h3>
									</h1>
								</td>
								<td class="border-bottom">
									<h3 style="font-weight:bold; text-align:right; margin-top:-24px;">December 28th, 2016</h3>
								</td>
							</tr>
							<!-- END Email Header -->
					</table>
<!--
					<div style='text-align:center;'>HEADER HERE
						<img src='http://" + brandingURL + "/img/b/" + branding .png' alt='' border='0' align='center' />
					</div>
-->
				<br />
				</td>
			</tr>
			<tr>
				<td align='left'>
					<table class='leadsTable'>
						<tr>
							<th colspan=2 align='left'>
								<div class='when'>YESTERDAY'S ACTIVITY</div>
								<div class='date'>December 28th, 2016</div>
							</th>
						</tr>
						<tr>
							<td>
								Leads
							</td>
							<td align='right'>
								<b>&nbsp;</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Phone Calls
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Contacts
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Email
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td align='left'>
								Clicks
							</th>
							<td align='right'>
								<b>1,000</b>
							</th>
						</tr>
						<tr>
							<td align='left' class='tablebottom'>
								Page Views
							</td>
							<td align='right' class='tablebottom'>
								<b>30,000</b>
							</td>
						</tr>
					</table>
				</td>
<!-- //   End Yesterday Stats -->
<!-- //   Begin This Month Stats -->
				<td align='center'>
					<table class='leadsTable'>
						<tr>
							<th colspan=2 align='left'>
								<div class='when'>THIS MONTH'S ACTIVITY</div>
								<div class='date'>December, 2016</div>
							</th>
						</tr>
						<tr>
							<td>
								Leads
							</td>
							<td align='right'>
								<b>&nbsp;</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Phone Calls
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Contacts
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Email
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td align='left'>
								Clicks
							</th>
							<td align='right'>
								<b>1,000</b>
							</th>
						</tr>
						<tr>
							<td align='left' class='tablebottom'>
								Page Views
							</td>
							<td align='right' class='tablebottom'>
								<b>30,000</b>
							</td>
						</tr>
					</table>
				</td>
<!--//   End This Month Stats -->
<!-- //   Begin Previous Month Stats -->
				<td align='right'>
					<table class='leadsTable'>
						<tr>
							<th colspan=2 align='left'>
								<div class='when'>LAST MONTH'S ACTIVITY</div>
								<div class='date'>November, 2016</div>
							</th>
						</tr>
						<tr>
							<td>
								Leads
							</td>
							<td align='right'>
								<b>&nbsp;</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Phone Calls
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Contacts
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td class='subdata'>
								Email
							</td>
							<td align='right' class='subdata'>
								<b>100</b>
							</td>
						</tr>
						<tr>
							<td align='left'>
								Clicks
							</th>
							<td align='right'>
								<b>1,000</b>
							</th>
						</tr>
						<tr>
							<td align='left' class='tablebottom'>
								Page Views
							</td>
							<td align='right' class='tablebottom'>
								<b>30,000</b>
							</td>
						</tr>
					</table>
				</td>
<!-- // End Previous Month Stats  -->
			</tr>
			<tr>
				<td colspan='3' style='padding-top:36px;padding-bottom:36px;'>
					<p>
						Thank you for advertising with branding_company , the leading Internet advertising solution for local and national businesses.
					</p>
					<p>
						Below you will find your Activity &amp; Lead Report for
						<b>format(yesterday)</b>. The total leads you've generated are summarized, as well as their sources; phone calls, emails and/or 'contact us' form submissions. Additionally, you will find the total number of visits which your campaign has generated, as well as visitor activity.
					</p>
					<p>
						To view your entire campaign report, including phone call and email details, please log-in to your
						<a href='http://" + brandingURL '>
							branding_company account
						</a>
						and view the 'Reports' section of the site.
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<table class='webdataTable'>
						<tr>
							<th align='left' colspan='6'>
								<div class='when'>YESTERDAY'S  WEB LEAD ACTIVITY</div>
								<div class='date'>December 28th, 2016</div>
							</th>
						</tr>
						<tr>
							<td align='left' class='program'>
								Program
							</td>
							<td align='left' class='program'>
								Time
							</td>
							<td align='left' class='program'>
								Page Label
							</td>
							<td align='left' class='program'>
								URL
							</td>
							<td align='left' class='program'>
								Contact Type
							</td>
							<td align='left' class='program'>
								Customer IP
							</td>
						</tr>
						<tr>
							<td>
								<b>Horizon BCBS - Non Paid</b>
							</td>
							<td>
								10:56:37 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
									/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								10:56:37 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
								/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								10:56:52 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								10:59:26 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:09:43 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:31:16 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
								/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:33:28 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:33:44 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:34:21 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:34:38 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b>Horizon BCBS - Display</b>
							</td>
							<td>
								11:34:48 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:35:00 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:35:19 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:36:10 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:37:03 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:37:14 EST
							</td>
							<td>
								Enroll online for a 2017 Plan Clicked
							</td>
							<td>
								/?page=formSubmission
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								24.60.53.40
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:46:43 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
								/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b>Horizon BCBS - Social</b>
							</td>
							<td>
								11:48:08 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								11:49:53 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								12:03:41 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
								/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								12:09:56 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								12:13:15 EST
							</td>
							<td>
								Help Me Find A Doctor Clicked
							</td>
							<td>
								/?page=Help me find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								12:16:36 EST
							</td>
							<td>
								Find a Doctor
							</td>
							<td>
								/?page=Find a doctor
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								14:23:46 EST
							</td>
							<td>
								Plan Documents - 2018 Passage Plan
							</td>
							<td>
								/?page=2018 Passage Plan
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								14:27:35 EST
							</td>
							<td>
								Plan Documents - 2018 Passage Plan
							</td>
							<td>
								/?page=2018 Passage Plan
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								14:32:15 EST
							</td>
							<td>
								Plan Documents - 2018 Flex Plans
							</td>
							<td>
								/?page=2018 Flex Plans
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								14:33:22 EST
							</td>
							<td>
								Plan Documents - 2018 Flex Plan 3, HMO-POS
							</td>
							<td>
								/?page=2018 Flex Plan 3, HMO-POS
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td>
								<b> </b>
							</td>
							<td>
								14:35:27 EST
							</td>
							<td>
								Plan Documents - 2018 Flex Plans
							</td>
							<td>
								/?page=2018 Flex Plans
							</td>
							<td>
								<i>
									Lead
								</i>
							</td>
							<td>
								68.116.200.149
							</td>
						</tr>
						<tr>
							<td align='left' colspan='6' style='text-align:right;'>
								<br />* Lead activity in this email report is limited to the top 50 leads. For more details, visit
								<a href='http://" + brandingURL + "'>
									http:// brandingURL
								</a>
								.
							</th>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan='3' style='padding-top:36px;padding-bottom:36px;'>
					<p>
					NOTE: <b>Clicks</b> refer to the number of potential customers who visited your website as a result of this advertising campaign.
					<b>Phone Calls</b> refers to the calls generated from visitors via the unique tracking phone number provided by " + branding_company + ".
					<b>Emails</b> and <b>Contact Us</b> forms refer to written contact attempts from visitors. <b>Page Views</b> tracks specific pages
					which visitors view within your site. This can include maps/directions pages or printable coupons.
					</p>
					<p>
					Sincerely,
					<p>
					<p>
					" + branding_company Team<br>
					<p>
					Return to
					<a href='http:// brandingURL '>
					branding_company account
					</a>
					</p>
					<p>
					&copy; thisYear &nbsp; branding_company . All Rights Reserved.
					</p>
				</td>
			</tr>
		<table>

			</body>
		</html>
