<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- General Settings -->
		<add key="custServiceEmail" value="ttrenka@dept-z.com" />
		<!-- Database Settings -->
		<add key="ConnectionString" value="server=localhost;database=ZIRH2k5;uid=sa;password=aixenpce;" />
		<!-- add key="ConnectionString" value="server=zirhdb1.inetu.net;database=ZIRH2k5;uid=sa;password=AnyHei65;" /-->
		<!-- Linkshare Settings -->
		<add key="Linkshare.Executable" value="d:\export\ftp\outbound\" />
		<add key="Linkshare.Log" value="linkshare.log" />
		<add key="Linkshare.Path" value="d:\export\ftp\outbound\lstrans.txt" />
		<add key="Linkshare.BackupPath" value="d:\export\ftp\outbound\lstrans-" />
		
		<!-- Email server settings -->
		<add key="Smtp.Server" value="localhost" />
		<add key="Smtp.Port" value="25" />
		<add key="Smtp.User" value="" />
		<add key="Smtp.Password" value="" />
		
		<!-- Amazon Settings -->
		<!-- Amazon QA/Test Environment
			<add key="Amazon.Uri" value="https://merchant-api-qa.amazon.com/exec/merchantData" />
			<add key="Amazon.MerchantId" value="Q_M_ZIRHSKINNU_14463" />
			<add key="Amazon.MerchantName" value="Zirh Skin Nutrition" />
			<add key="Amazon.User" value="amazon@zirh.com" />
			<add key="Amazon.Password" value="amazon" />
		-->
		<!-- Amazon Production Environment -->
		<add key="Amazon.Uri" value="https://merchant-api.amazon.com/exec/merchantData" />
		<add key="Amazon.MerchantId" value="M_ZIRHSKINNU_108763" />
		<add key="Amazon.MerchantName" value="Zirh Skin Nutrition" />
		<add key="Amazon.User" value="amazon@zirh.com" />
		<add key="Amazon.Password" value="zirh77332" />
		<add key="Amazon.nOrders" value="5" />
		
		<!-- Fulfillment Settings -->
		<add key="Fulfillment.Uri" value="dept-z.mine.nu" />
		<add key="Fulfillment.User" value="ttrenka" />
		<add key="Fulfillment.Password"	value="aachen51" />
		<add key="Fulfillment.ErrorAddresses" value="ttrenka@dept-z.com" />
		<add key="Fulfillment.Incoming" value="inbound" />
		<add key="Fulfillment.Outgoing" value="inbound/processed" />
		<add key="Fulfillment.Filemask" value="/*.txt" />
		<add key="Fulfillment.BackupPath" value="c:\tmp\" />
		
<!--
		<add key="Fulfillment.Uri" value="ftp3.triplefin.com" />
		<add key="Fulfillment.User" value="zirh" />
		<add key="Fulfillment.Password"	value="kohl95" />
		<add key="Fulfillment.ErrorAddresses" value="ttrenka@dept-z.com" />
		<add key="Fulfillment.Incoming" value="inbound" />
		<add key="Fulfillment.Outgoing" value="inbound/processed" />
		<add key="Fulfillment.Filemask" value="/*.txt" />
		<add key="Fulfillment.BackupPath" value="c:\tmp\" />
-->

		<!-- Transaction information -->
		<add key="Transaction.User" value="lHc8inS+2lhVMLirG3kKow==" />
		<add key="Transaction.Password" value="tAi+57XmA46wcxTIH7f6wg==" />
		<add key="Transaction.Key" value="YYrv5QQL9ow1r2le" />
		<add key="Transaction.Test" value="1" />
	</appSettings>
</configuration>